* {
  margin: 0;
  padding: 0;
  color: #fff;
}
.container {
  background-color: #111;
  height: 100%;
  display: grid;
  grid-template-rows: 40px minmax(calc(100vh - 80px), auto) 40px;
}

.header {
  background-color: #222;
  position: sticky;
  top: 0;
}
.main {
  display: grid;
}

.main > div {
  height: calc(100vh + 40px);
}

.first {
  background: url(/assets/showcase.jpeg) no-repeat center/cover;
}

.first h1 {
  position: absolute;
  top: 32%;
  left: 38%;
  font-size: 4rem;
}

.second {
  background-color: #252529;
}

.footer {
  background-color: #222;
}
